/*
    Josh's Custom CSS Reset
    https://www.joshwcomeau.com/css/custom-css-reset/
*/
// RESET
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
  height: 100%;
}
// END RESET

a {
  color: inherit;
  text-decoration: none;
}

footer a {
  text-decoration: underline;
}

.MuiCardContent-root {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  line-height: 1.167;
  letter-spacing: 0em;
}

h3, .MuiTypography-h3 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  line-height: 1.167;
  letter-spacing: 0em;
}


h1, .MuiTypography-h1 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 5rem;
  line-height: 1.167;
}

.resultsTable {
  width: 100%;
}

.resultsTable th {
  text-align: left;
  padding: 3px;
}

.resultsTable td {
  padding: 3px;
  
}
.positionCell {
  width: 38px;
  height: 38px;
}
td.nameCell, th.nameCell {
  padding-left: 10px;
}

.resultsTable tr:nth-child(odd) td {
  background-color: #EAECED;
}